/* Functions first 
@import "../node_modules/bootstrap/scss/functions";

/* Variable overrides second */
/* $primary: #900;
$enable-shadows: true;
$prefix: "mo-"; */

/* Required Bootstrap imports */
/* @import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root"; */

/* Optional components */
/* @import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api"; */


.intro-text {
  margin: 16px !important;
}

#loaded-label {
  display: none;
}

#output {
  margin: 4rem auto;
  background: #545454;
  border-radius: 12px;
  padding: 35px !important;
  color: white;
  font-family: 'Nunito', sans-serif;
  display: none;
}

.prompt-container {
  margin: 4rem auto !important;
  min-height: fit-content;
}

.btn-grid {
  margin: 1rem !important;
}