/* Functions first 
@import "../node_modules/bootstrap/scss/functions";

/* Variable overrides second */
/* $primary: #900;
$enable-shadows: true;
$prefix: "mo-"; */

/* Required Bootstrap imports */
/* @import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root"; */

/* Optional components */
/* @import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api"; */


.intro-text {
  margin: 16px !important;
}

#loaded-label {
  display: none;
}

#loaded-error {
  display: none;
}

#output-wrapper {
  margin: 2rem auto;
  background: #545454;
  border-radius: 12px;
  padding: 35px !important;
  color: white;
  font-family: 'Nunito', sans-serif;
  display: none;
  letter-spacing: .15em; /* Adjust as needed */
}

#output {
  border-right: .15em solid white; 
  width: fit-content;
  margin: 0;/* The typwriter cursor */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;    
}

.prompt-container {
  margin: 4rem auto 0 !important;
  min-height: fit-content;
}

.prompt-textarea {
  height: 115px !important;
}

.btn-grid {
  margin: 1rem !important;
}

#loading {
  display: none;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}